In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv(r'raw\electricity-sample-dataset.csv')

# Initialize a dictionary to store the results
means_data = {col: [] for col in df.columns}

# Set random seed for reproducibility
np.random.seed(42)

# Perform the sampling and mean calculation 30 times
for _ in range(50):
    for col in df.columns:
        # Sample 30 random values with replacement
        sample = np.random.choice(df[col], size=30, replace=True)
        # Calculate mean and store it
        means_data[col].append(np.mean(sample).round(0).astype(int))

# Create a new DataFrame with the means
means_df = pd.DataFrame(means_data)

# Display the first few rows of the new dataset
print(means_df.head())

# Save to a new CSV file if needed
means_df.to_csv(r'raw\electricity-clt-dataset-4.csv', index=False)

   Nuclear  Wind  Hydroelectric  Oil and Gas  Coal  Solar  Biomass
0     1338   895           1815         1168  1129    142       53
1     1260   800           1777         1056  1105    216       55
2     1191   876           1854         1191  1276    164       58
3     1183   571           1627         1186  1192    172       53
4     1345   461           1872         1325  1332    140       54

In [2]:
means_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nuclear        50 non-null     int64
 1   Wind           50 non-null     int64
 2   Hydroelectric  50 non-null     int64
 3   Oil and Gas    50 non-null     int64
 4   Coal           50 non-null     int64
 5   Solar          50 non-null     int64
 6   Biomass        50 non-null     int64
dtypes: int64(7)
memory usage: 2.9 KB

In [3]:
means_df.describe()

,Nuclear,Wind,Hydroelectric,Oil and Gas,Coal,Solar,Biomass
count,50.000000,50.000000,50.000000,50.000000,50.00000,50.000000,50.00000
mean,1283.400000,763.500000,1786.180000,1166.640000,1155.80000,172.340000,54.50000
std,47.486196,142.891746,141.430691,84.609731,70.97887,42.741563,2.42647
min,1183.000000,461.000000,1499.000000,1002.000000,977.00000,77.000000,48.00000
25%,1255.750000,671.250000,1698.500000,1115.250000,1112.25000,143.250000,53.00000
50%,1281.500000,738.500000,1792.500000,1170.500000,1166.00000,172.000000,55.00000
75%,1327.000000,844.000000,1884.750000,1220.000000,1196.50000,200.250000,56.00000
max,1363.000000,1214.000000,2093.000000,1325.000000,1332.00000,266.000000,60.00000